<!DOCTYPE html>
<html>
<head>
	<title>TEST Earthquakes</title>
	{% include 'header.html' %}
</head>

<body>


<div>
  <div class="row valign-wrapper">
    <div class="row">
      <div class="card blue darken-1">
        <div class="card-content white-text">
          <span class="card-title">Esta sera la base para el test</span>
        </div>
      </div>
    </div>
  </div>
</div>





</body>
</html>